

<main>
<div class="main_imgae">
  ようこそ,tweet appへこのサイトはあなたの思っている事をつぶやくサイト
  <div class="menber_add">
    <a href="/user/new" ><p>This site is SNS Service Lets!Member registration </p></a>
  </div>
</div>

</main>
